# An * ensures that everything will be ignored.
*

# Whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.py
!*.jinja

!automation

!blueprints/
!blueprints/automation/
!blueprints/automation/climate
!blueprints/automation/devices
!blueprints/automation/health
!blueprints/automation/lighting
!blueprints/automation/notification
!blueprints/automation/theater
!blueprints/script/
!blueprints/script/devices
!blueprints/script/lighting
!blueprints/script/notification
!blueprints/script/theater

!custom_sentences/
!custom_sentences/en/

!custom_templates/
!database

!esphome
!esphome/common/

!group
!intent_script
!pyscript
!python
!script
!sensor
!template

# Ensure these files are ignored.
automation/test.yaml
custom_templates/easy_time.jinja
google_calendars.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml
script/test.yaml
