# An * ensures that everything will be ignored.
*

# Whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.py
!*.jinja

!automation

!blueprints/
!blueprints/automation/
!blueprints/automation/climate
!blueprints/automation/devices
!blueprints/automation/health
!blueprints/automation/lighting
!blueprints/automation/notification
!blueprints/automation/theater
!blueprints/script/
!blueprints/script/devices
!blueprints/script/lighting
!blueprints/script/notification

!custom_templates/

!dashboard/
!dashboard/dash_overview/
!dashboard/dash_overview/cards/
!dashboard/dash_overview/cards/controls
!dashboard/dash_overview/cards/devices
!dashboard/dash_overview/cards/energy
!dashboard/dash_overview/cards/environment
!dashboard/dash_overview/cards/health
!dashboard/dash_overview/cards/hobbies
!dashboard/dash_overview/cards/home
!dashboard/dash_overview/cards/levels
!dashboard/dash_overview/cards/monitoring
!dashboard/dash_overview/cards/testing
!dashboard/dash_overview/cards/theater
!dashboard/dash_overview/cards/total_energy
!dashboard/dash_overview/views
!dashboard/dash_reminders/
!dashboard/dash_reminders/cards/
!dashboard/dash_reminders/cards/cleaning
!dashboard/dash_reminders/cards/maintenance
!dashboard/dash_reminders/cards/office
!dashboard/dash_reminders/cards/yard
!dashboard/dash_reminders/views

!database

!esphome
!esphome/common/

!pyscript
!pyscript_modules
!python
!script
!sensor
!template
!themes

# Ensure these YAML files are ignored.
google_calendars.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml