{# Add a new element to a comma-delimited list. #}

{% macro build_list(list, element) %}

	{% set current = states(list) %}
	{% if current | length() > 0 %}
	  {{ current ~ ', ' ~ element }}
	{% else %}
	  {{ element }}
	{% endif %}

{% endmacro %}

{# Calculate a time difference in minutes between a datetime and now. #}

{% macro calc_time_diff(datetime) %}

	{% set start = as_timestamp(strptime(states(datetime), '%Y-%m-%d %H:%M:%S')) %}
	{% set num = (now().timestamp() - start) // 60 %}
	{% set minutes = (num - (num % 5)) %}
	{{ minutes }}

{% endmacro %}

{# easter day as an iso timestamp #}

{%- macro easter() %}
{%- set year = now().year %}
{%- set special_years = ['1954', '1981', '2049', '2076'] %}
{%- set special_year_sub = 7 %}
{%- set a = year % 19 %}
{%- set b = year % 4 %}
{%- set c = year % 7 %}
{%- set d = (19 * a + 24) % 30 %}
{%- set e = ((2 * b) + (4 * c) + (6 * d) + 5) % 7 %}
{%- set day = (22 + d + e) - special_year_sub if year in special_years else 22 + d + e %}
{%- set month = 4 if day > 31 else 3 %}
{%- set day = day - 31 if day > 31 else day -%}
{{ today_at().replace(month=month, day=day).isoformat() }}
{%- endmacro %}

{# create an iso timestamp from month number, week number, day number #}
{# Thanksgiving is 11, 4, 3 #}

{%- macro month_week_day(month, week, weekday) -%}
{%- set today = today_at() %}
{%- set temp = today.replace(month=month, day=1) %}
{%- set adjust = (weekday - temp.isoweekday()) % 7 %}
{%- set temp = temp + timedelta(days=adjust) -%}
{{ (temp + timedelta(weeks = week - 1)).isoformat() }}
{%- endmacro %}
