# WiFi
wifi:
  min_auth_mode: WPA2
  
  # Access point hotspot for the captive portal (no password required).
  #ap:
  #  ssid: ${friendly_name} Hotspot

# Enable a captive portal in case WiFi fails or changes.
#captive_portal:

# Enable over the air updates
ota:
  - platform: esphome

# WiFi signal sensor
sensor:
  - platform: wifi_signal
    name: WiFi Signal
    update_interval: $update_interval
