# Device specific information
substitutions:
  friendly_name:             Garage Sensor
  
  # Used by boards
  device_name:               garage-sensor
  loglevel:                  DEBUG
  
  # Used by WiFi
  update_interval:           600s
  
  # Used by sensors
  window_interval:           60s
  window_size:               "10"
  
  # Used by temperature sensors
  calibrate_measured:        "72.0"
  calibrate_truth:           "72.0"
  
  # Used by bme280 sensor
  prefix:                    garage_sensor

# Pull in common configuration
packages:
  nodemcu_base:  !include common/nodemcu_base.yaml
  wifi:          !include common/wifi.yaml
  bme280_sensor: !include common/bme280_sensor.yaml

# Enable Home Assistant API
api:
  encryption:
    key: !secret garage_sensor_api_key

# WiFi credentials
wifi:
  ssid:     !secret wifi_ssid
  password: !secret wifi_password

# Enable I2C, needed for the BME280 sensor
i2c:
  sda: D2
  scl: D1
  scan: True
