# Device specific information
substitutions:
  friendly_name:             Office Sensor
  
  # Used by boards
  device_name:               office-sensor
  loglevel:                  DEBUG
  
  # Used by WiFi
  update_interval:           600s
  
  # Used by sensors
  window_interval:           60s
  window_size:               "10"
  
  # Used by temperature sensors
  calibrate_measured:        "71.0"
  calibrate_truth:           "65.0"
  
  # Used by bme280 sensor
  prefix:                    office_sensor
  
  # Used by TSL2591 sensor
  gain:                      medium

# Pull in common configuration
packages:
  nodemcu_base:   !include common/nodemcu_base.yaml
  wifi:           !include common/wifi.yaml
  bme280_sensor:  !include common/bme280_sensor.yaml
  tsl2591_sensor: !include common/tsl2591_sensor.yaml

# Enable Home Assistant API
api:
  encryption:
    key: !secret office_sensor_api_key

# WiFi credentials
wifi:
  ssid:     !secret wifi_ssid
  password: !secret wifi_password

# Enable I2C, needed for the BME280 and TSL2591 sensors
i2c:
  sda: D2
  scl: D1
  scan: True
