# Device specific information
substitutions:
  friendly_name:      Tag Reader
  
  # Used by boards
  device_name:        tag-reader
  loglevel:           DEBUG
  
  # Used by WiFi
  update_interval:    600s

# Pull in common configuration
packages:
  d1mini_base:   !include common/d1mini_base.yaml
  wifi:          !include common/wifi.yaml

improv_serial:

esphome:

  # This will allow for (future) project identification,
  # configuration and updates.
  project:
    name: adonno.tag_reader
    version: "1.4"

# If buzzer is enabled, notify on api connection success
  on_boot:
    priority: -10
    then:
    - wait_until:
        api.connected:
    - logger.log: API is connected!
    - rtttl.play: "success:d=24,o=5,b=100:c,g,b"
    - light.turn_on:
        id: activity_led
        brightness: 100%
        red: 0%
        green: 0%
        blue: 100%
        flash_length: 500ms
    - switch.turn_on: buzzer_enabled
    - switch.turn_on: led_enabled

# Define switches to control LED and buzzer from HA
switch:
- platform: template
  name: "Buzzer Enabled"
  id: buzzer_enabled
  icon: mdi:volume-high
  optimistic: true
  restore_mode: RESTORE_DEFAULT_ON
  entity_category: config

- platform: template
  name: "LED enabled"
  id: led_enabled
  icon: mdi:alarm-light-outline
  optimistic: true
  restore_mode: RESTORE_DEFAULT_ON
  entity_category: config

# Enable Home Assistant API
api:
  encryption:
    key: !secret tag_reader_api_key
  
  actions:
    - action: rfidreader_tag_ok
      then:
      - rtttl.play: "beep:d=16,o=5,b=100:b"

    - action: rfidreader_tag_ko
      then:
      - rtttl.play: "beep:d=8,o=5,b=100:b"

    - action: play_rtttl
      variables:
        song_str: string
      then:
      - rtttl.play: !lambda 'return song_str;'

    - action: write_tag_id
      variables:
        tag_id: string
      then:
      - light.turn_on:
          id: activity_led
          brightness: 100%
          red: 100%
          green: 0%
          blue: 0%    
      - lambda: |-
          auto message = new nfc::NdefMessage();
          std::string uri = "https://www.home-assistant.io/tag/";
          uri += tag_id;
          message->add_uri_record(uri);
          id(pn532_board).write_mode(message);
      - rtttl.play: "write:d=24,o=5,b=100:b"
      - wait_until:
          not:
            pn532.is_writing:
      - light.turn_off:
          id: activity_led
      - rtttl.play: "write:d=24,o=5,b=100:b,b"

# WiFi credentials
wifi:
  ssid:     !secret wifi_ssid
  password: !secret wifi_password

i2c:
  scan: False
  frequency: 400kHz

pn532_i2c:
  id: pn532_board
  on_tag:
    then:
    - homeassistant.tag_scanned: !lambda |
        if (!tag.has_ndef_message()) {
          return x;
        }
        auto message = tag.get_ndef_message();
        auto records = message->get_records();
        for (auto &record : records) {
          std::string payload = record->get_payload();
          size_t pos = payload.find("https://www.home-assistant.io/tag/");
          if (pos != std::string::npos) {
            return payload.substr(pos + 34);
          }
        }
        return x;
    - if:
        condition:
          switch.is_on: buzzer_enabled
        then:
        - rtttl.play: "success:d=24,o=5,b=100:c,g,b"
    - if:
        condition:
          switch.is_on: led_enabled
        then:
        - light.turn_on:
            id: activity_led
            brightness: 100%
            red: 0%
            green: 100%
            blue: 0%
            flash_length: 500ms
  on_tag_removed:
    then:
    - homeassistant.event:
        event: esphome.tag_removed

# Define the buzzer output
output:
- platform: esp8266_pwm
  pin: D7
  id: buzzer

# Define buzzer as output for RTTTL
rtttl:
  output: buzzer

# Configure LED
light:
- platform: neopixelbus
  variant: WS2812
  pin: D8
  num_leds: 1
  flash_transition_length: 500ms
  type: GRB
  id: activity_led
  name: "LED"
  restore_mode: ALWAYS_OFF
